<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="/CSS/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap" rel="stylesheet">
</head>
<body>

    <div class="navbar">
        <a href="/account" rel="account">ACCOUNT</a>
        <a href="/collection" rel="collection">COLLECTION</a>
        <a href="/wishlist" rel="wishlist">WISHLIST</a>
        <a id="home-btn" href="/" rel="home">HOME</a>
    </div>

    <div class="logo">
        <img id="vinyl" src="/IMGS/vinyl.png" alt="vinyl">
        <h1>VinylVault</h1>
    </div>
    
</body>
</html>